@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

body {
  font-family: "Roboto", sans-serif;
  background-color: #1d2128;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.main-page-header {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  font-size: 14px;
  line-height: 24px;
}

.keepable-logo {
  margin-left: 30px;
  margin-right: 117px;
}

.main-content {
  border-top: 1px solid #d1d1d1;
  display: flex;
  min-height: 89vh;
}

.main-content-nav {
  display: block;
  width: 17vw;
  min-width: 110px;
  height: 100%;
  color: #ffffff;
  border-right: 1px solid #d1d1d1;
  padding-top: 10px;
  font-size: 18px;
  line-height: 20px;
  min-height: 89.9vh;
}

.main-content-nav-links {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.main-content-nav-links li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px;
}

.main-content-nav-links li img {
  margin-right: 20px;
}

.nav-active-link {
  background: #999b9e;
  border-radius: 0 25px 25px 0;
}

.main-content-nav-links a {
  text-decoration: none;
  color: #ffffff;
}

.notes-content {
  width: 83vw;
}

.create-note {
  height: 120px;
}

.create-note,
.list-notes,
.deleted-notes {
  margin: 20px;
}

/*----------*/

/*#notes-panel, #deleted-panel {*/
/*    display: none;*/
/*}*/

.hide-panel {
  display: none;
}

.show-panel {
}

/*Franco*/
.noNotesText {
  text-align: center;
  max-width: 370px;
  display: flex;
  margin: auto;
  margin-top: 100px;
  align-items: center;
}

.list-notes {
  font-family: roboto;
}
.braces {
  color: white;
  font-size: 9rem;
  width: 20%;
  font-weight: lighter;
  margin: auto;
}
.braces_text {
  color: white;
  width: 60%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

/* Gerard */

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-corner {
  background: #63ff0100;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid #de0e0e00;
  border-width: 0 0 0 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #1d2128;
}

#notes__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  max-width: 600px;
  max-height: 150px;
  box-shadow: 5px 5px 15px rgba(153, 155, 158, 0.85);
  margin: 20px auto 50px auto;
}

.notes__form__note {
  height: 100%;
  max-width: 600px;
  max-height: 120px;
  outline: none;
  overflow-y: auto;
  overflow-x: hidden;
}

#notes {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  grid-auto-rows: 275px;
  gap: 0px 20px;
  justify-content: center;
}

.note {
  width: 260px;
  height: 260px;
  background: #fff;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
  box-shadow: 5px 5px 15px rgba(153, 155, 158, 0.85);
  border-radius: 8px;
}

.note__body__content {
  height: 100%;
  text-align: justify;
  max-width: 240px;
  max-height: 200px;
  outline: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.note__footer__buttons .btn {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.note__footer__buttons .btn:active {
  background: #999b9e;
}

.note__footer__buttons .btn:active img {
  filter: brightness(100);
}

.regular-btn {
  border: none;
  outline: none;
  background: transparent;
}

.push-right {
  position: relative;
  right: -75%;
  font-weight: bold;
  cursor: pointer;
}

#color_selector {
  visibility: hidden;
  width: 155px;
  height: 66px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
}

.color-palette {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin: 2px;
  cursor: pointer;
}

.color-palette:first-child {
  border: 1px solid gray;
}

.color-1 {
  background: #fff !important;
  transition: 200ms ease-in-out;
}

.color-2 {
  background: #f28b82;
  transition: 200ms ease-in-out;
}
.color-3 {
  background: #fbbc04;
  transition: 200ms ease-in-out;
}
.color-4 {
  background: #fff475;
  transition: 200ms ease-in-out;
}
.color-5 {
  background: #ccff90;
  transition: 200ms ease-in-out;
}
.color-6 {
  background: #a7ffeb;
  transition: 200ms ease-in-out;
}
.color-7 {
  background: #cbf0f8;
  transition: 200ms ease-in-out;
}
.color-8 {
  background: #aecbfa;
  transition: 200ms ease-in-out;
}
.color-9 {
  background: #d7aefb;
  transition: 200ms ease-in-out;
}
.color-10 {
  background: #fdcfe8;
  transition: 200ms ease-in-out;
}
