* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #ffffff;
}

body {
  background-color: #1d2128;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header header"
    "aside main"
    "aside footer";
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
  border: 1.5px solid white;
  border-left: none;
  border-bottom: none;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  border-top: 1.5px solid white;
}

footer {
  grid-area: footer;
}

nav {
  width: 15em;
  margin-top: 1.5em;
}
nav div {
  cursor: pointer;
}
nav div button span,
nav div button i {
  margin-right: 20px;
}
nav div button i {
  margin-left: 3px;
}
nav div button {
  font-size: 20px;
  color: white;
  background: transparent;
  border: none;
  outline: 0px;
  cursor: pointer;
}

.menu-item {
  margin-bottom: 1em;
  padding: 10px 0px 10px 14px;
}
.menu-state {
  background: #999b9e;
  border-radius: 0px 25px 25px 0px;
}

.new_note_container {
  display: flex;
  justify-content: center;
}

.new_note {
  position: relative;
}

#textarea {
  height: 150px;
  width: 600px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin: 15px 0px;
  resize: none;
  padding: 20px;
  font-size: 18px;
}

.new_note button {
  position: absolute;
  top: 125px;
  right: 20px;
  border: none;
  background-color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}

.notes_container {
  margin: 45px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    "a1 a2 a3 a4" 
    "b1 b2 b3 b4"; 
}

.note {
  height: 260px;
  width: 260px;
  background-color: #FFFFFF;
  border-radius: 8px;
  color: black;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}
